server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
spring:
  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true 
  output:
    ansi:
      enabled: always
  sql:
    init:
      schema-locations:
      - classpath:db/table.sql 
      data-locations:
      - classpath:db/data.sql

  mvc:
    view:
      prefix: /WEB-INF/view/
      suffix: .jsp
  mail:
    host: smtp.naver.com
    port: 587
    username: heesun9793@naver.com
    password: gmltjs9793
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          
  
mybatis:
  mapper-locations:
  - classpath:mapper/**.xml
  configuration:
    map-underscore-to-camel-case: true